#llama{
    height: 200px;
    width: 200px;
}

#memebg{

    background-color: black;
    color:white;

}
#img_container{
    height: 400px;
    width: 400px;
    position: relative;
}

#meme_img{
    width: 100%;
    height: 100%;
    border: 5px solid white;
    margin: 0;
}

#memetxt1{
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
}

#memetxt2{
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    top : 500px;
}

#main{
    width: 50%;
    margin: 0% 0% 0% 25%;
}
